<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome/font-awesome.min.css}"/>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/react/react.production.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/react/react-dom.production.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body></body>
</html>